.headerListItem {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    cursor: pointer;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
.headerListItem.disabled {
    font-size: 16px;
    cursor: not-allowed;
    color: lightgray;
}
.headerListItem.admin {
    font-size: 12px;
    font-weight: bold;
}
.headerListItem.admin.disabled {
    cursor: not-allowed;
    color: gray;
}

.headerListItem.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}
.headerListItem.admin.active {
    border: 1px solid #231E33;
    padding: 10px;
    border-radius: 20px;
}